MONGO_URI=mongodb+srv://<username>:<password>@cluster0.dg0auya.mongodb.net/chat-app
PORT=5001
JWT_SECRET=RS#rathore
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>
FRONTEND_URL=http://localhost:5174
